{
    "general_options":{
        "endpoint": "/index.php/apps/groupfolders/folders/{{FOLDER_ID}}/groups",
        "method": "POST",
        "body":{
            "group":"{{GROUP_NAME}}"
        }
    }
}