{
    "general_options":{
        "endpoint": "/ocs/v2.php/cloud/groups",
        "method": "GET",
        "params": [["search", "{{ SEARCH }}"],["limit", "{{ LIMIT }}"],["offset", "{{ OFFSET }}"]]
    }
}